* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}

body {
    background: rgb(65, 105, 225);
    color: #FFDAB9;
    overflow: hidden;
    overflow-y: scroll;
}